.git
.env
.env.*
!.env.example

node_modules
**/node_modules
dist
build

data
backups
apps/server/storage
apps/worker/worker-output
apps/converter/output
apps/converter/input
apps/converter/test-models

*.log
*.step
*.stp
